# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual Environment
.venv/
venv/
ENV/
env/

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode
.vscode/
.history/

# ---- OS Specific ----
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# ---- Others ----
*.log
*.pot
*.mo
